@import url(./fonts/stylesheet.css);
/* line 3, scss/style.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'ALS Hauss', sans-serif; }

/* line 9, scss/style.scss */
.header {
  padding: 22px 22px 17px;
  display: flex;
  justify-content: space-between; }
  /* line 15, scss/style.scss */
  .header img:first-child {
    padding-right: 33px; }
  /* line 19, scss/style.scss */
  .header img:last-child {
    padding-left: 35px; }
  /* line 23, scss/style.scss */
  .header img:last-child:before {
    content: '';
    background: #E1E1E3;
    width: 1px;
    display: block; }
